/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



 /* bootrap */
@import "bootstrap";

/* font-awesome */
@import "font-awesome";

.image {
  margin-left:0%;
  margin-top:10%;
  margin-bottom:5%;
  height: 325px;
  width: 100%;
}

.navbar .navbar-branch {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
}

.nav-masthead {
  float: right;
  display: inline;
}

.navbar .navbar-nav {
  width: 100%;
  margin: 0 auto;
}

.navbar .navbar-nav .nav-item {
  margin: 10px 10px 10px 10px;
}

.header-search {
  width: 450px;
  display: inline;
}

.register-body,
.login-body,
.book-list {
  margin-top: 5%;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}

.col-md-6 {
  float: none !important;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }



  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
